<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="discord" version="1.0.9003"/>
	<package id="vscode" version="1.64.0"/>
	<package id="intellijidea-ultimate" version="2021.3.2"/>
	<package id="jetbrains-rider" version="2021.3.3"/>
	<package id="bandizip" version="7.22"/>
	<package id="oraclejdk" version="17.0.2"/>
	<package id="jdk8" version="8.0.211"/>
	<package id="winmerge" version="2.16.18"/>
	<package id="neovim" version="0.6.1"/>
	<package id="authy-desktop" version="1.9.0"/>
	<package id="adguardhome" version="0.107.3"/>
	<package id="crystaldiskinfo" version="8.14.2"/>
	<package id="zoom" version="5.9.3.3169"/>
	<package id="notepadplusplus.install" version="8.3"/>
	<package id="7zip.install" version="21.7"/>
	<package id="python3" version="3.10.2"/>
	<package id="vlc" version="3.0.16"/>
	<package id="curl" version="7.81.0"/>
</packages>